on:
  schedule:
  - cron: '28 * * * *'

  - cron: '0 * * * *'
  - cron: '10 * * * *'
  - cron: '20 * * * *'
  - cron: '30 * * * *'
  - cron: '40 * * * *'
  - cron: '50 * * * *'

jobs:
  beckon:
    runs-on: ubuntu-latest
    steps:
      - name: Pull Repo
        uses: actions/checkout@v3

      - name: Beckon for More
        uses: peter-evans/create-issue-from-file@v4
        with:
          title: 'I BECKON FOR MORE'
          content-filepath: "./beckon.md"
