# when an issue is created...
on:
  issues:
    types: [opened]

jobs:
  uses: ubuntu-latest
  steps:
    # read the contents of the issue...
    - name: Parse Issue Body
      uses: peter-murray/issue-body-parser-action@v1
      id: issue_body_parser
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # This is assuming that you are triggering off the issue, otherwise you will need to know the issue number
          issue_id: ${{ github.event.issue.number }}

    # Post issue body, for debug purposes
    - name: Post Body Contents
      uses: EddieHubCommunity/gh-action-community/src/welcome@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: ${{ issue_body_parser.payload }}

    # then parse the body with a custom action...

    # apply needed changes to the holders list...

    # commit it!

    # and finally, run the rebuild job
